# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.egg
.venv/
env/
venv/
ENV/
.ipynb_checkpoints/
.DS_Store

# Virtual environment
*.env
.env/
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# ---- C / C++ ----
*.o
*.out
*.exe
*.dll
*.so
*.dylib
*.a
*.lo
*.la
*.obj
*.lib
*.pch
*.pdb
*.mod
*.idb

# Build directories
build/
dist/
Debug/
Release/

# ---- OS files ----
Thumbs.db
.DS_Store
